.u-section-1 .u-sheet-1 {
  min-height: 566px;
}

.u-section-1 .u-icon-1 {
  width: 91px;
  height: 91px;
  margin: 71px auto 0;
  padding: 0;
}

.u-section-1 .u-text-1 {
  font-family: Almarai;
  font-weight: 700;
  font-size: 6rem;
  margin: 34px auto 0;
}

.u-section-1 .u-icon-2 {
  width: 119px;
  height: 119px;
  margin: 92px auto 54px;
  padding: 0;
}

@media (max-width: 991px) {
  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: 37px;
  }

  .u-section-1 .u-icon-2 {
    margin-top: 78px;
    margin-bottom: 60px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 638px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3.75rem;
    width: 130px;
    margin-top: 110px;
  }

  .u-section-1 .u-icon-2 {
    margin-top: 90px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 677px;
  }

  .u-section-1 .u-icon-2 {
    margin-top: 118px;
  }
}